.header-main {
  text-align: center;
  padding: 50px;
  color: white;
  background: black;
  width: 100%;
}
.container {
  padding: 20px;
  width: 100%;
}
td {
  word-wrap: break-word;
}
.table-headers {
  font-weight: bold;
  padding-bottom: 20px;
}
